* {
    padding: 0;
    margin: 0;
}
#tela{
    width: 1360px;
    margin: 0 auto;
}

@font-face {
    font-family: Feeling Passionate;
    src: url("../font/Feeling_Passionate.otf");
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #ac9f93;
    color: #f7f7f7;
}

#cafe {
    font-family: font/Feeling Passionateotf;
    margin-left: 20px;
}

header {
    height: 30vh;
    width: 75vw;
    background-color: #402A18;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
}

.left,
.right {
    display: flex;
    gap: 5rem;
    width: 30vw;
    align-items: center;
    justify-content: center;
}

.right a {
    text-decoration: none;
    color: #f5e6d3;
    transition: 0.5 ease-in-out;
}

.right a:hover {
    color: #f3eeee;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 160%;
    gap: 5rem;
    margin-top: 10px;
    background: #433123;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#search {
    width: 450px;
    height: 30px;
    padding: 6px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: transparent;
    outline: none;
}

#search::placeholder {
    color: #ffffff;
}

.container {
    height: 60vh;
    margin: 20px;
    justify-content: center;
    margin-left: 15%;
}

.login {
    margin-top: 40px;
    text-align: center;
    margin-left: -15px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}

.Criar-conta {
    margin-top: 40px;
    margin-left: 10vw;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}

.esqueceu-senha {
    margin-left: 55vw;
    margin-top: -10px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}

.informações {
    margin-top: 30px;
    margin-left: -15px;
    text-align: center;
}

.button1 {
    position: absolute;
    width: 17vw;
    padding: 10px;
    background-color: #73a158;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: -38.8vh;
    margin-left: 53vh;
}
  

footer {
    margin-top: 10vh;
    background-color: #402A18;
    height: 30vh;
    width: 75vw;
}

.direitos {
    margin-top: 20vh;
    text-align: center
}

p {
    margin-top: 7vh;
    margin-left: 4.5vw;
    position: absolute;
}


h4 {
    margin-left: 5vw;
}

.rede1 img {

    width: 50;
    height: 50px;
    margin-top: -22vh;
    margin-left: 3vw;
    position: absolute;
}

.rede2 img {
    position: absolute;
    width: 59;
    height: 59px;
    margin-top: -22.4vh;
    margin-left: 5vw;

}

.rede3 img {
    position: absolute;
    width: 59;
    height: 59px;
    margin-top: -22.4vh;
    margin-left: 7.5vw;
}

#cart {
    position: absolute;
    margin-left: -18vw ;
    margin-top: 1.5vh;
}

#log {
    position: absolute;
    margin-left: -3vw ;
    margin-top: 1.5vh;

}
